<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="VoteRoom"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <activity android:name=".ResultsActivity" />
        <activity android:name=".RoomManagementActivity" />
        <activity android:name=".AddQuestionActivity" />
        <activity android:name=".CreateRoomActivity" />
        <activity android:name=".JoinRoomActivity" />
        <activity android:name=".ModeratorLoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>